 <div class="user-details">
  <h1> About me </h1>
  <p> 
  I am currently a senior undergraduate student at BITS Pilani, K.K.Birla Goa Campus pursuing a dual degree  in  
  Msc Biology and B.E in Computer Science expected to graduate in 2023. Currently my interest lies in doing projects in ML domain. In future i hope to move to work in research related to Data analytics and ML in applied sciences,particularly being interested in applications in neuroscience.
  </p>
  <P>
    I have also worked under some students organizations in my time during college : worked as organizing committee member of <a href="https://www.facebook.com/bitsspree/">Spree</a>, was part of astronomy club <a href="https://www.facebook.com/celestiaclub/">SEDS Celestia</a> which  regularly engages in sky observations; also was part of social activities with <a href="http://www.abhigyaan-bpgc.in/">Abhigyaan</a>  
  </P>
</div>

