 <div class="user-details">
  <h1> About me </h1>
  <p> 
  I am currently a senior undergraduate student at BITS Pilani, K.K.Birla Goa Campus pursuing a dual degree  in  
  Msc Biology and B.E in Computer Science expected to graduate in 2023. Currently my interest lies in doing project in ML domain , particulary in field of Cognitive neuroscience(currently have a paper under review hope it gets published). I have also dabelled in the usecases of genetic algorithms in some of my personal miniprojects. In future i hope to move to work in research related to Data analytics and ML in applied sciences
  </p>
  <P>
    I have also worked under some students organizations in my time during college : worked as organizing committee member of <a href="https://www.facebook.com/bitsspree/">Spree</a>, was part of astronomy club <a href="https://www.facebook.com/celestiaclub/">SEDS Celestia</a> which  regularly engages in sky obseravations; also was part of social activities with <a href="http://www.abhigyaan-bpgc.in/">Abhigyaan</a>  
  </P>

