<div class="user-details">
      <h1>Experience</h1>
       <div class="container">
          <div class="timeline">
            <ul>
              <li>
                <div class="timeline-content">
                  <h3 class="date">July 2022 - Dec 2022</h3>
                  <h2>Intern</h2>
                  <p>Worked at <a href="https://www.nutanix.com/">Nutanix</a> on a cloud computing based project</p>
                </div>
              </li>
              <li>
                <div class="timeline-content">
                  <h3 class="date">May 2020 - July 2020</h3>
                  <h2>Summer Intern</h2>
                  <p>Worked at <a href="https://www.kizora.com/">Kizora</a> Ltd on a ML project, used for predicting medications based on symptoms. Work involved using flask API for backend</p>
                </div>
              </li>
              <li>
                <div class="timeline-content">
                  <h3 class="date">Aug 2018 - May 2023</h3>
                  <h2>Started College</h2>
                  <p>At BITS Pilani, Goa</p>
                </div>
              </li>
              
            </ul>
            
          </div>
      </div>
</div>


    