<div class="user-details">
      <h1>Experience</h1>
        <div class="container">
          <div class="timeline">
            <ul>
              <li>
                <div class="timeline-content">
                  <h3 class="date">May 2020 - July 2020</h3>
                  <h2>Summer Intern</h1>
                  <p>Worked at <a href="https://www.kizora.com/">Kizora</a> Ltd on a ML project, used for predicting medications based on symptoms. Work involved using flask API for backend</p>
                </div>
              </li>
              <li>
                <div class="timeline-content">
                  <h3 class="date">Aug 2018 - Present</h3>
                  <h2>Started College</h1>
                  <p>At BITS Pilani, Goa</p>
                </div>
              </li>
              
            </ul>
            
          </div>
        </div>

    