<div class="user" align="center">
	<div class="user" align="center" justify-content="center">
	    <div class="tech">
	      <h2>Interests</h2>
	 	    <p>-Python</p>
	      	<p>-Machine Learning</p>
	      	<p>-Deep Learning</p>
	      	<p>-Cognitive Neuroscience</p>
	    </div>
	    <div class="tech">
	      <h2>Education</h2>
	      <img src="{{ "/assets/img/bits.png" | prepend: site.baseurl }}" width = "60" height="60">
	      <p>Msc Biological Sciences  &</p> <p> B.E Computer Sciences ,2023</p>
        </div>
    </div>
</div>