<div class="user-details">
  <h1> Personal Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/trash.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Trash Classifier </h3>
    <ul>
      <li> Python,Machine Learning,Tensorflow,Deep Learning</li>
    </ul>
    <p> Classify trash images using Convoulutional neural nets .</p>
    <a class="project-link" href="https://github.com/chel310/Trash_classifier">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/music.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Music Generator </h3>
    <ul>
      <li> Python</li>
    </ul>
    <p> Generate musical patterns using genetic algorithms .</p>
    <a class="project-link" href="https://github.com/chel310/Music_generator">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/trash.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Emotion Recognition </h3>
    <ul>
      <li> Python,Machine Learning,Signal Processing</li>
    </ul>
    <p> Classify emotions based on analysis of EEG signals.</p>
    <a class="project-link" href="https://drive.google.com/drive/folders/1N-LytFI2cQ55mIdR0X4UU2KgWIK6gqtp?usp=sharing">Check it out</a>
  </div>
</div>

<div class="user-details">
  <h1> Course Projects </h1>
</div> 

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/skip_connections.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Role of Skip Connections in MLP  </h3>
    <ul>
      <li> Python,Machine Learning,Pytorch,Deep Learning</li>
    </ul>
    <p> Try to analyse role of skip connections in MLPs in MNIST & CIFAR dataset</p>
    <a class="project-link" href="https://github.com/abhinav153/Skip_connections">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/cgans.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Synthesize music using GANs </h3>
    <ul>
      <li> Python,Machine Learning,Pytorch,Deep Learning</li>
    </ul>
    <p> Using CGANS to generate specific genres of music.</p>
    <a class="project-link" href="https://www.kaggle.com/chel310/major-project">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/acgt.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Computational analysis of Genome </h3>
    <ul>
      <li> Python</li>
    </ul>
    <p> Report on
Computational analysis of cis-regulatory elements in promoter Sequence of Arabidopsis Thaliana
</p>
    <a class="project-link" href="https://docs.google.com/document/d/1tHxQypwMzeaN2Hy09iE4gNgNxx3Mf5HVHkKEcDzvjcE/edit">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/bc.jpeg" | prepend: site.baseurl }}"  height="50"/>
  </div>
  <div class="contents-right">
    <h3> Literature review </h3>
    <ul>
    </ul>
    <p> Reviewed the exisiting literature for early detection of breast cancers from a computational perspective.</p>
    <a class="project-link" href="https://drive.google.com/file/d/1qhWlHtzptJpE3JLRvkzVI92v">Check it out</a>
  </div>
</div>
