<div class="user-details">
  <h1> Personal Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/trash.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Trash Classifier </h3>
    <ul>
      <li> Python,Machine Learning,Tensorflow,Deep Learning</li>
    </ul>
    <p> Classify trash images using Convoulutional neural nets .</p>
    <a class="project-link" href="https://github.com/chel310/Trash_classifier">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/music.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Music Generator </h3>
    <ul>
      <li> Python</li>
    </ul>
    <p> Generate musical patterns using genetic patterns .</p>
    <a class="project-link" href="https://github.com/chel310/Music_generator">Check it out</a>
  </div>
</div>
